---
Checks:          '-*,bugprone-*,performance-*,portability-*,clang-analyzer-*,readability-inconsistent*,-bugprone-easily-swappable-parameters,-clang-diagnostic-error'
WarningsAsErrors:  '*'
HeaderFilterRegex: '-^((?!/vcpkg_installed/).)*$'
ExtraArgs: '-fblocks'
UseColor: true
FormatStyle: 'file'