assets/** filter=lfs diff=lfs merge=lfs -text
viewer/assets/** filter=lfs diff=lfs merge=lfs -text
addons/*/assets/** filter=lfs diff=lfs merge=lfs -text
samples/*/assets/** filter=lfs diff=lfs merge=lfs -text
