name: CMake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  build:
    strategy:
      fail-fast: false
      matrix:
        toolsets: [
          #{host: windows-2022, preset: x64-windows-ninja-llvm},
          #{host: windows-2022, preset: x64-windows-static-ninja-llvm},
          {host: windows-2022, preset: x64-mingw-ninja-gcc},
          {host: windows-2022, preset: x64-mingw-static-ninja-gcc},
          {host: windows-2022, preset: x64-windows-vs2022-llvm},
          {host: windows-2022, preset: x64-windows-static-vs2022-llvm},
          {host: windows-2022, preset: arm64-android-ninja-llvm},
          {host: ubuntu-22.04, preset: x64-linux-ninja-llvm},
          {host: ubuntu-22.04, preset: x64-linux-ninja-llvm},
          {host: ubuntu-22.04, preset: arm64-android-ninja-llvm},
          {host: macos-12, preset: x64-macos-ninja-llvm},
          {host: macos-12, preset: x64-macos-ninja-gcc},
          {host: macos-12, preset: arm64-macos-ninja-llvm},
          {host: macos-12, preset: arm64-ios-ninja-llvm},
          {host: macos-12, preset: arm64-android-ninja-llvm},
        ]

    name: ${{matrix.toolsets.preset}} on ${{matrix.toolsets.host}}
    runs-on: ${{matrix.toolsets.host}}

    steps:
    - uses: actions/checkout@v3
      with:
        lfs: 'true'

    - name: Install Ninja
      uses: seanmiddleditch/gha-setup-ninja@master

    - name: Setup vcpkg
      uses: lukka/run-vcpkg@v10
      with:
        vcpkgGitCommitId: 9ba75e6e174b30b97afc5c8c3170c5d25c548b32

    - name: Install Ubuntu Deps
      run: sudo apt install -y libncurses5
      if: matrix.toolsets.host == 'ubuntu-22.04'

    - name: Build Debug
      uses: lukka/run-cmake@v10
      with:
        configurePreset: '${{matrix.toolsets.preset}}'
        buildPreset: 'debug-${{matrix.toolsets.preset}}'

    - name: Build RelWithDebInfo
      uses: lukka/run-cmake@v10
      with:
        configurePreset: '${{matrix.toolsets.preset}}'
        buildPreset: 'relwithdebinfo-${{matrix.toolsets.preset}}'

    - name: Build Release
      uses: lukka/run-cmake@v10
      with:
        configurePreset: '${{matrix.toolsets.preset}}'
        buildPreset: 'release-${{matrix.toolsets.preset}}'
