name: CMake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  build:
    strategy:
      fail-fast: false
      matrix:
        toolsets: [
          {host: windows-2022, gen: Ninja Multi-Config, cc: clang, cxx: clang++, vcpkg: x64-windows, plat: windows, extra: "-DVCPKG_CRT_LINKAGE=dynamic"}, 
          {host: windows-2022, gen: Ninja Multi-Config, cc: clang, cxx: clang++, vcpkg: x64-windows-static, plat: windows, extra: "-DVCPKG_CRT_LINKAGE=static"}, 
          {host: windows-2022, gen: Ninja Multi-Config, cc: gcc, cxx: g++, vcpkg: x64-mingw-dynamic, plat: mingw, extra: ""},
          {host: windows-2022, gen: Ninja Multi-Config, cc: gcc, cxx: g++, vcpkg: x64-mingw-static, plat: mingw, extra: ""},
          {host: windows-2022, gen: Visual Studio 17 2022, cc: clang-cl, cxx: clang-cl, vcpkg: x64-windows, plat: windows, extra: "-DVCPKG_CRT_LINKAGE=dynamic -Ax64 -TClangCL"},
          {host: windows-2022, gen: Visual Studio 17 2022, cc: clang-cl, cxx: clang-cl, vcpkg: x64-windows-static, plat: windows, extra: "-DVCPKG_CRT_LINKAGE=static -Ax64 -TClangCL"},
          {host: windows-2022, gen: Ninja Multi-Config, cc: clang, cxx: clang++, vcpkg: arm64-android, plat: android, extra: "-DANDROID_PLATFORM=29 -DANDROID_ABI=arm64-v8a"},
          {host: windows-2022, gen: Ninja Multi-Config, cc: clang, cxx: clang++, vcpkg: x64-android, plat: android, extra: "-DANDROID_PLATFORM=29 -DANDROID_ABI=arm64-v8a"},
        ]

    runs-on: ${{matrix.toolsets.host}}

    env:
      CMAKE_GENERATOR: ${{matrix.toolsets.gen}}
      CC: ${{matrix.toolsets.cc}}
      CXX: ${{matrix.toolsets.cxx}}

    steps:
    - uses: actions/checkout@v3

    - name: Install Ninja
      uses: seanmiddleditch/gha-setup-ninja@master

    - name: Install Vulkan SDK
      uses: humbletim/install-vulkan-sdk@v1.1.1

    - name: Install Dependencies
      run: ./install_deps_${{matrix.toolsets.plat}}.bat

    - name: Configure CMake
      run: cmake -B build ${{matrix.toolsets.extra}} -DVCPKG_TARGET_TRIPLET=${{matrix.toolsets.vcpkg}} -DVCPKG_CHAINLOAD_TOOLCHAIN_FILE=C:/vcpkg/scripts/toolchains/${{matrix.toolsets.plat}}.cmake

    - name: Build Debug
      run: cmake --build build --config Debug
    - name: Build RelWithDebInfo
      run: cmake --build build --config RelWithDebInfo
    - name: Build Release
      run: cmake --build build --config Release
